<div>
    <mat-toolbar class="d-flex p-1">            
        <button mat-icon-button class="example-icon search-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </mat-toolbar>        
</div>
<div class="artist-image d-flex flex-column justify-content-end" style="background-image: url('assets/images/imagenInicial.png');">
    <h1 class="px-3">Nombre Album</h1>
    <h4 class="px-3"># canciones</h4>    
</div>    
<section class="container-fluid full">      
    <!-- SONG CARD -->
    <div class="mt-3">
        <div class="card app-cards mb-3 song">
            <div class="row g-0 p-1">
              <div class="d-flex justify-content-center col-4 col-md-3 px-1">
                <img src="assets/images/imagenInicial.png" class="img-fluid rounded-start" alt="...">
              </div>
              <div class="col-8 col-md-9">
                <div class="card-body">
                  <h4 class="card-title">Cancion</h4>
                  <p class="card-text">Album</p>
                  <p class="card-text">Duracion: 00:00</p>
                </div>
              </div>
            </div>
        </div>            
    </div>
    <!--  -->
    <div class="mt-3">
      <div class="card app-cards mb-3 song">
          <div class="row g-0 p-1">
            <div class="d-flex justify-content-center col-4 col-md-3 px-1">
              <img src="assets/images/imagenInicial.png" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-8 col-md-9">
              <div class="card-body">
                <h4 class="card-title">Cancion</h4>
                <p class="card-text">Album</p>
                <p class="card-text">Duracion: 00:00</p>
              </div>
            </div>
          </div>
      </div>            
  </div>
  <div class="mt-3">
    <div class="card app-cards mb-3 song">
        <div class="row g-0 p-1">
          <div class="d-flex justify-content-center col-4 col-md-3 px-1">
            <img src="assets/images/imagenInicial.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-8 col-md-9">
            <div class="card-body">
              <h4 class="card-title">Cancion</h4>
              <p class="card-text">Album</p>
              <p class="card-text">Duracion: 00:00</p>
            </div>
          </div>
        </div>
    </div>            
  </div>
</section>

