<div>
  <mat-toolbar class="d-flex justify-content-between p-3">
    <span>Music App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button routerLink="/busqueda">
        <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar>        
</div>
<section class="container-fluid full">
  <div class="px-1 my-2">
      <h2 class="m-0">Nuevos Albumes</h2>
      <mat-divider class="divider"></mat-divider>
      <div class="row overflow-auto horizontal-lists mt-3">
          <!-- ALBUM CARD -->
          <div class="card app-cards album mx-2" [routerLink]="['/album', album.id]" *ngFor="let album of albumes">
              <img src="{{album.imagen}}" class="card-img-top" alt="{{album.imagen}}">
              <div class="card-body">
                  <h4>{{ mostrarTituloMinimizado(album.nombre) }}</h4>
                  <p class="card-text">{{album.fecha_publicacion}}</p>
              </div>
          </div>
          <!--  -->           
      </div>
  </div>

  <div class="p-1">
      <h2 class="m-0">Nuevas Canciones</h2>
      <mat-divider class="divider"></mat-divider>      
      <div class="song-list mt-3">
          <!-- SONG CARD -->
          <div class="card app-cards mb-3 song" [routerLink]="['/cancion', cancion.id]" *ngFor="let cancion of canciones">
              <div class="row g-0 p-1">
                <div class="d-flex justify-content-center col-4 col-md-3 px-1">
                  <img src="{{cancion.imagen}}" class="img-fluid rounded-start" alt="{{cancion.nombreCancion}}">
                </div>
                <div class="col-8 col-md-9">
                  <div class="card-body">
                    <h4 class="card-title">{{ mostrarTituloMinimizado(cancion.nombreCancion) }}</h4>
                    <p class="card-text">{{ mostrarTituloMinimizado(cancion.nombreAlbum) }}</p>
                    <p class="card-text">Duracion: {{ milisegundosAMinutosYSegundos(cancion.duracion) }}</p>
                  </div>
                </div>
              </div>
          </div>
          <!-- SONG CARD -->                  
      </div>      
  </div>    
</section>