<div>
  <mat-toolbar class="d-flex justify-content-between p-3">
    <span>Music App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon search-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>search</mat-icon>
    </button>
  </mat-toolbar>        
</div>
<section class="container-fluid full">
  <div class="px-1 my-2">
      <h2 class="m-0">Nuevos Albumes</h2>
      <mat-divider class="divider"></mat-divider>
      <div class="row overflow-auto horizontal-lists mt-3">
          <!-- ALBUM CARD -->
          <div class="card app-cards album mx-2">
              <img src="assets/images/imagenInicial.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h4>Nombre Album</h4>
                  <p class="card-text">Artista</p>
              </div>
          </div>
          <!--  -->
          <div class="card app-cards album mx-2">
              <img src="assets/images/imagenInicial.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h4>Nombre Album</h4>
                  <p class="card-text">Artista</p>
              </div>
          </div>
          <div class="card app-cards album mx-2">
              <img src="assets/images/imagenInicial.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h4>Nombre Album</h4>
                  <p class="card-text">Artista</p>
              </div>
          </div>
          <div class="card app-cards album mx-2">
              <img src="assets/images/imagenInicial.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h4>Nombre Album</h4>
                  <p class="card-text">Artista</p>
              </div>
          </div>
          <div class="card app-cards album mx-2">
              <img src="assets/images/imagenInicial.png" class="card-img-top" alt="...">
              <div class="card-body">
                  <h4>Nombre Album</h4>
                  <p class="card-text">Artista</p>
              </div>
          </div>          
      </div>
  </div>

  <div class="p-1">
      <h2 class="m-0">Nuevas Canciones</h2>
      <mat-divider class="divider"></mat-divider>
      <!-- SONG CARD -->
      <div class="song-list mt-3">
          <div class="card app-cards mb-3 song">
              <div class="row g-0 p-1">
                <div class="d-flex justify-content-center col-4 col-md-3 px-1">
                  <img src="assets/images/imagenInicial.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-8 col-md-9">
                  <div class="card-body">
                    <h4 class="card-title">Cancion</h4>
                    <p class="card-text">Album</p>
                    <p class="card-text">Duracion: 00:00</p>
                  </div>
                </div>
              </div>
          </div>            
      </div>
      <!-- SONG CARD -->
      <div class="song-list mt-3">
          <div class="card app-cards mb-3 song">
              <div class="row g-0 p-1">
                <div class="d-flex justify-content-center col-4 col-md-3 px-1">
                  <img src="assets/images/imagenInicial.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-8 col-md-9">
                  <div class="card-body">
                    <h4 class="card-title">Cancion</h4>
                    <p class="card-text">Album</p>
                    <p class="card-text">Duracion: 00:00</p>
                  </div>
                </div>
              </div>
          </div>            
      </div>      
  </div>    
</section>