<main>
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/docs">
                <span data-feather="home"></span>
                Principal
              </a>
            </li>
          </ul>
  
          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Endpoints</span>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/docs/canciones">
                <span data-feather="file"></span>
                Canciones
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/docs/artistas">
                <span data-feather="shopping-cart"></span>
                Artistas Musicales
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/docs/albumes">
                <span data-feather="users"></span>
                Albumes
              </a>
            </li>
          </ul>
          
        </div>
    </nav>
</main>