@media (max-width: 1100px) {
	#presentacion > .panel-izq {	
		padding-left: 0.5rem;
		width: 40%;
	}

	#proyectos, #contactos > section {
		flex-direction: column;				
		align-items: center;
	}

	#titulo-proyecto {
		width: 100%;	
		padding: 0;
		align-items: center;
	}
	
	#titulo-proyecto > h2 {
		margin: 0 auto;
		width: fit-content;
	}

	.habilidad > img {	
		height: 40%;
	}

	#sec-contactos {
		flex-direction: column;
		align-items: center;
	}
	
}

@media (max-width: 600px) {

	.titulo-seccion {
		text-align: center;
	}

    #presentacion {
        flex-direction: column-reverse;
        align-items: center;
    }

	#presentacion > .panel-izq {
		padding: unset;
		align-items: center;
		width: 100%;
	}

	#titulo-presentacion {
		margin: 0;
		margin-top: 2rem;
	}

	#video-acerca-de {	
		width: 80%;
	}

	#tabla-certificados-inicial {
		display: none;
	}
	
	#tabla-certificados-responsive {
		display: flex;
		flex-direction: column;
	}

	.info-proyecto > a {				
		flex-direction: column;				
		justify-content: center;			
	}

	#contenedor-habilidades {
		flex-direction: column;		
	}

	.habilidad { 
		width: 70%;
	}

	#mapa {
		width: 100%;	
	}

	.referencia-redes > img {
		width: 2rem;
		height: 2rem;
	}

}

@media (max-width: 400px) {

	.estilo-celda {
		padding: 0.75rem;
	}

}