img { width: 70vw; }

.divider {
    background-color: #0F3D3E;
    border-top-width: 0.15rem;
    width: 100%;
}

.slider-container, .button-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.music-slider { width: 80%; }

@media screen and (min-width:900px) {
    img { width: 30vw;}
}