.album-image {
    background-size: contain;
    background-repeat: no-repeat;    
    background-position: 50%;
    height: 60vh;    
}

.divider {
    background-color: #29A19C;
    border-top-width: 0.15rem;
}

.artist { width: 10rem; }

.song img {
    width: 10rem;
    height: 100%;
}
