<div>
    <mat-toolbar class="d-flex p-1">            
        <button mat-icon-button routerLink="/principal">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </mat-toolbar>        
</div>
<div class="bg-image album-image d-flex flex-column justify-content-end" style="background-image: url('{{album.imagen}}');">
    <div class="mask d-flex flex-column justify-content-end" id="info-mask">
        <h1 class="px-3">{{album.nombre}}</h1>
        <h4 class="px-3">{{album.fecha_publicacion}}</h4>
        <!-- <h5 class="px-3">{{album.duracion}}</h5> -->
    </div>    
</div>    
<section class="container-fluid full">  

    <h2 class="m-0">Artistas</h2>
    <mat-divider class="divider"></mat-divider>  

    <div class="row overflow-auto horizontal-lists mt-3">
        <!-- ARTISTA CARD -->
        <div class="card app-cards mx-2 artist" [routerLink]="['/artista', artista.id]" *ngFor="let artista of album.artistasDelAlbum">
            <img src="{{artista.foto}}" class="card-img-top py-2" alt="{{artista.foto}}">
            <div class="card-body">                
                <p class="card-text">{{artista.nombre}}</p>
            </div>
        </div>
        <!--  -->                
    </div>
    
    <h2 class="m-0">Canciones</h2>
    <mat-divider class="divider"></mat-divider>  

    <!-- SONG CARD -->
    <div class="mt-3">
        <div class="card app-cards mb-3 song" [routerLink]="['/cancion', cancion.id]" *ngFor="let cancion of cancionesAlbum">
            <div class="row g-0 p-1">
              <div class="d-flex justify-content-center col-4 col-md-3 px-1">
                <img src="{{cancion.imagen}}" class="img-fluid rounded-start" alt="{{cancion.nombreCancion}}">
              </div>
              <div class="col-8 col-md-9">
                <div class="card-body">
                    <h4 class="card-title">{{cancion.nombreCancion}}</h4>
                    <p class="card-text">{{cancion.nombreAlbum}}</p>
                    <p class="card-text">Duracion: {{cancion.duracion}}</p>
                </div>
              </div>
            </div>
        </div>            
    </div>
    <!-- SONG CARD -->    
</section>
